# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

.idea/

# Some files related to CMake
libnorse.so
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
Norse.cbp
cmake-build-debug/
cmake-build-release/
lib/
install_manifest.txt
